# Project exclude paths
/day01/target/
/day02/target/
/day03/target/
/day04/target/
/day05/target/
/target/
/.idea/.gitignore
/.idea/codeStyles/codeStyleConfig.xml
/.idea/compiler.xml
/.idea/hydra.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/codeStyles/Project.xml
/.idea/runConfigurations.xml
/.idea/sbt.xml
/.idea/scala_compiler.xml
/.idea/vcs.xml
